header {
    display: grid;
    grid-template-columns: 1fr auto; 
    align-items: center;
    
  aside {
    text-align: right;
    #comBorda{
        border-right: 1px solid rgb(114 116 164);
        border-left: 1px solid rgb(114 116 164);
        padding: 3px;
    }  
  }
  img{
    margin: 3px
  }
}

main{
    display: grid;
    justify-items: center;

    figure{
      margin-top: 5.5vh;
    }
}

footer{
  text-align: center;
}

