{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block content %}
    <section style="border-bottom: 1px solid #ccc; margin-bottom: 3vh;"
        <h2>Entre em contato</h2>
        <p>Lorem Ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet molis nisl.</p>
    </section>

    <form>
        <label for="femail">Seu Email:</label><br>
        <input type="text" id="femail" name="femail"><br>
        <label for="fassunto">Assunto:</label><br>
        <input type="text" id="fassunto" name="fassunto"><br>
        <label for="fdescricao">Descrição</label><br>
        <textarea id="fdescricao" name="fdescricao" rows="4" cols="30"></textarea><br>
        <input type="submit" value="Enviar">
    </form>
{% endblock %}