<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNES</title>
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>

<body>

    <header>
        <img src="../static/img/logo.png" alt="logo">
        <aside>
            <nav>
                <a href="/">Home</a>
                <a id="comBorda" href="/quemSomos">Quem somos</a>
                <a href="/Contato">Contato</a>
            </nav>
        </aside>
    </header>
    <main>
        <section style="align-items:start;">
            <h1>Quem somos</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed orci consequat, maximus felis sit amet, porta lacus. Proin eget arcu orci. Etiam tempus nisi in nulla viverra, vel ultricies velit dignissim. Sed ultricies facilisis felis, et ullamcorper magna bibendum nec. Aliquam consequat ipsum ut velit tempus convallis a sed urna. Donec et pretium urna. Proin scelerisque mi velit, id fringilla quam condimentum sed. In rhoncus arcu eros, id ullamcorper lorem efficitur mattis.
                Aliquam at nisl finibus, scelerisque metus id, iaculis nisl. Cras mattis fringilla nibh, vel luctus neque porttitor vel. Proin aliquet nulla ac sapien aliquet, et vulputate turpis consectetur. Suspendisse potenti. Donec euismod sem eros, eu ultricies justo congue ut. In eu suscipit quam, sed tincidunt quam. Cras commodo neque sit amet orci lobortis rhoncus. Mauris laoreet arcu a metus aliquet ullamcorper non nec nunc. Morbi quis posuere mi. Nulla suscipit ultrices fermentum. Sed vel diam tincidunt, placerat ex sed, vulputate sapien.</p>
        </section>
        <section style= "width: 100%;border-bottom: 2px solid #ccc;">
            <h1>5 motivos para estudar</h1>
            <ol style="margin-top:5px;">
                <li>Material sempre atualizado</li>
                <li>Tablets em sala de aula</li>
                <li>Professores renomados</li>
                <li>Universidade bem avaliada</li>
                <li>Ótima localização</li>
            </ol>
        </section>
        <section style="align-items:start;">
            <h1>Objetivos</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed orci consequat, maximus felis sit amet, porta lacus. Proin eget arcu orci. Etiam tempus nisi in nulla viverra, vel ultricies velit dignissim. Sed ultricies facilisis felis, et ullamcorper magna bibendum nec. Aliquam consequat ipsum ut velit tempus convallis a sed urna. Donec et pretium urna. Proin scelerisque mi velit, id fringilla quam condimentum sed. In rhoncus arcu eros, id ullamcorper lorem efficitur mattis.
                Aliquam at nisl finibus, scelerisque metus id, iaculis nisl. Cras mattis fringilla nibh, vel luctus neque porttitor vel. Proin aliquet nulla ac sapien aliquet, et vulputate turpis consectetur. Suspendisse potenti. Donec euismod sem eros, eu ultricies justo congue ut. In eu suscipit quam, sed tincidunt quam. Cras commodo neque sit amet orci lobortis rhoncus. Mauris laoreet arcu a metus aliquet ullamcorper non nec nunc. Morbi quis posuere mi. Nulla suscipit ultrices fermentum. Sed vel diam tincidunt, placerat ex sed, vulputate sapien.</p>
        </section>
    </main>

    <footer><h3>Todos os direitos reservados</h3></footer>
</body>
</html>